<img src="logo.jpg">

<h5>What products are you looking for?</h5>
<br>
<%= link_to "I wan to see it all", products_path, class:"buttons"%>
<% Category.all.map do |f| %><br>
  <%= link_to f.name.titleize, f, class:"buttons" %>
<% end %>
