/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 a{
   padding: 0.5em;
 }

 a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: blue
}

h4{
  display: block;
  background: #330033;
  color: white;
  border-radius: 18px;
  padding: 5px;
  width: 80%;
  margin: auto;
}

h5{
  display: block;
  border-style: solid;
  border-color: #cc99ff;
  border-width: thin;
  border-radius: 18px;
  padding: 5px;
  width: 50%;
  margin: auto;
}

ul{
  text-align: left;
}

.number_field{
  width: 40%;
 }

 .media-block {
   min-height: 30em;
   background: #f0f0f0;
   text-align: center;
   border-radius: 18px;
   padding: 10px;
   width: 100%;
   max-width: 25em;
   min-width: 15em;
   margin: auto;
 }

 .alerts {
  display: block;
  border-style: solid;
  border-color: red;
  border-width: thin;
  color: red;
  border-radius: 18px;
  padding: 5px;
  width: 80%;
  margin: auto;
}

 .buttons{
   display: block;
   background: #cc99ff;
   color: white;
   border-radius: 18px;
   padding: 2px;
   width: 40%;
   margin: auto;
 }

 .logo{
   width: 60%;
 }

 .logo_inline{
   width: 80%;
 }
