<h1>This is my review page</h1>
<ul>
    <strong>Animal tested:  </strong><%= @review.animal_tested %><br>
    <strong>Country of origin:  </strong><%= @review.country_of_origin %><br>
    <strong>Comment:  </strong><%= @review.comment %><br>
 </ul>
